name: Eksekusi Projek ML Lengkap

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy matplotlib

      - name: Run Modelling
        # Kita selesaikan masalah MLflow MissingConfig di sini
        run: |
          cd Folder-3/MLProject
          
          # 1. Hapus folder mlruns lama jika terbawa dari upload (penyebab error meta.yaml)
          rm -rf mlruns
          
          # 2. Paksa MLflow gunakan SQLite agar lebih stabil di GitHub Actions
          export MLFLOW_TRACKING_URI=sqlite:///mlflow.db
          
          # 3. Jalankan script
          python modelling.py
