name: CI Workflow

on:
  push:
    branches: ["main"]

permissions:
  contents: write 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow dagshub scikit-learn pandas numpy matplotlib docker

    - name: Run mlflow project
      run: |
        # Mencari file MLProject (tipe file, bukan folder)
        FILE_PATH=$(find . -name "MLProject" -type f | head -n 1)
        PROJECT_DIR=$(dirname "$FILE_PATH")
        echo "Menjalankan MLflow dari: $PROJECT_DIR"
        # Perintah inilah yang akan memicu munculnya folder mlruns
        mlflow run "$PROJECT_DIR" --env-manager=local

    - name: Get latest MLflow run_id
      run: |
        # Mencari folder 32 karakter di dalam mlruns/0
        RUN_ID=$(find mlruns/0 -maxdepth 1 -type d -printf '%P\n' | grep -E '^[0-9a-f]{32}$' | head -n 1)
        echo "RUN_ID=$RUN_ID" >> $GITHUB_ENV

    - name: Commit & Push mlruns
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add mlruns/
        git commit -m "Add mlruns results [skip ci]" || echo "No changes"
        git push origin main
